.hover-btn{
    color: #fff;
}

.hover-btn:hover{
 background-color: #93120e;
 color: #fff
};


/* ToggleButton.css */
.btn-toggle {
    position: relative;
    width: 10px;
    height: 34px;
    border: none;
    color: #fff;
  }
  
  .btn-toggle:before {
    content: 'OFF';
    position: absolute;
    left: 6px;
    top: 7px;
    width: 26px;
    height: 20px;
    color: #fff;
    background-color: #ccc;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-toggle:after {
    content: 'ON';
    position: absolute;
    right: 6px;
    top: 7px;
    width: 16px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }
  
  .btn-success.btn-toggle:before {
    left: 28px;
    background-color: #ccc;
    color: #fff;
  }
  
  .btn-success.btn-toggle:after {
    right: 6px;
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-secondary.btn-toggle:before {
    left: 6px;
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-secondary.btn-toggle:after {
    right: 28px;
    background-color: #dc3545;
    color: #fff;
  }

  .signin-btn{
    background-color: #93120e;
  }

  .signin-btn :hover{
     background-color: #fff;
     color: #93120e;
  }

  a{
    color: #93120e;
  }

  .linkss{
    color: "#93120e";
  }

  .linkss:active{
    color: "#93120e";
  }